static/assets/dots.png
static/assets/fotoStudio.svg
static/assets/haloDictionary.svg
static/assets/idf.png
static/assets/idf.svg
static/assets/mkstudio.png
static/assets/mkstudio.svg
static/assets/pinterestClone.svg
